html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Oswald;
  color: #474747;
}

a {
  text-decoration: none;
  color: #474747;
}

h1 {
  color: #474747;
  font-size: 2.5rem;
  font-weight: bold;
  width: 80%;
  line-height: 2.75rem;
}

img {
  border: 5px solid #474747;
}

video {
  border: 5px solid #474747;
}

/* ***** Header ***** */

.header {
  display: flex;
  height: 2rem;
  align-items: center;
  margin: 1rem 1.5rem;
  justify-content: space-between;
}

.header img {
  border: none;
}

.header span {
  color: #474747;
  font-weight: bold;
}

.header p {
  color: #bdbdbd;
}

.logo-name {
  display: flex;
  align-items: center;
}

.phone-icons {
  display: none;
}

/* ***** Mobile Phone Header ***** */

@media only screen and (max-width: 640px) {

  .header {
    height: 4rem;
  }

  .logo-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .phone-icons {
    display: block;
  }

  .header p {
    display: none;
  }

  .header a {
    display: none;
  }

}

/* ***** Navigation ***** */

.header a {
  margin-left: 1rem;
}

/* ***** Header and Main Banner ***** */

.left-content {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right-content {
  width: 40%;
  padding: 2rem 1rem;
}

.left-content img {
  width: 100%;
}

@media only screen and (max-width: 640px) {

  .left-content {
    width: 100%;
    padding: 0;
  }

}

/* ***** Main Banner ***** */

.main-banner {
  display: flex;
  background-color: #dadada;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-banner-content span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #474747;
  text-align: center;
  width: 80%;
  color: #e4e4e4;
  font-weight: lighter;
}

.main-banner p {
  font-size: 1.5rem;
  width: 80%;
  margin: 1.5rem 0;
  line-height: 2rem;
}

@media only screen and (max-width: 640px) {

  .main-banner {
    flex-direction: column;
  }

  .left-content img {
    width: 100%;
  }

}

/* ***** Content ***** */

.content {
  display: flex;
}

.stories h1 {
  font-size: 1.5rem;
}

.left-content p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: lighter;
  line-height: 1.25rem;
}

.top-image img {
  margin-bottom: 2rem;
}

.story {
  display: flex;
}

.story-img-text a {
  color: #3F7DF6;
  font-weight: lighter;
}

.story-img {
  width: 35%;
  padding: 1rem;
}

.topstory {
  padding-top: 0px;
}

.story-img img {
  width: 100%;
}


.story-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 0.5rem;
}

.story-img-text p {
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
}

/* ***** Start Learning ***** */

.start-learning {
  background-color: #dadada;
}

.start-learning h1{
  text-align: center;
  padding-top: 2rem;
  width: 100%;
}

.course-section {
  padding: 2rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 1rem;
  align-items: center;
  border: 10px solid #474747;
  background-color: #ffffff;
}

.course-image img {
  width: 100%;
  border: none;
  border-bottom: 1px solid #474747;
}

.course-description {
  margin: 1rem 0rem 1.5rem 0rem;
  width: 80%;
}

.course-description h2 {
  font-size: 1.25rem;
  line-height: 2rem;
}

.course-description p {
  margin: 0.5rem auto;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.5rem;
  color: #a9a9a9;
}

.course-description span {
  font-weight: lighter;
  line-height: 1.25rem;
  color: #a9a9a9;
}

/* ***** Thesis ***** */

.thesis-content h1{
  margin-top: 2rem;
  width: 100%;
}

.thesis-exhibit {
  text-align: center;
}

.thesis {
  display: flex;
}

.left-content video {
  width: 100%;
}

.story-img-text h1 {
  font-size: 1.5rem;
}

.reimagine {
  font-size: 1.5rem;
}



/* ***** Footer ***** */

.footer-section {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem;
  justify-content: space-between;
}

.copyright {
  display: flex;
  align-items: center;
}

.footer-section a {
  margin-left: 1rem;
}
