html {
  font-size: 18px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ***** Header ***** */

.header {
  display: flex;
  height: 32px;
  align-items: center;
  margin: 16px 24px;
  justify-content: space-between;
}

.logo-name {
  display: flex;
  align-items: center;
}

/* ***** Navigation ***** */

.header a {
  margin-left: 16px;
}

/* ***** Header and Main Banner ***** */

.left-content {
  width: 60%;
  padding: 32px 24px;
}

.right-content {
  width: 40%;
  padding: 32px 24px;
}

.left-content img {
  padding-right: 24px;
  width: 100%;
}

/* ***** Main Banner ***** */

.main-banner {
  display: flex;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-banner-content span {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: orange;
  text-align: center;
}

/* ***** Content ***** */

.content {
  display: flex;
}

.left-content p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.stories {
  display: flex;
  flex-direction: column;
}

.story {
  display: flex; */
}

.story-img img {
  padding: 16px;
}

.story-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-img-text p{
  padding-top: 8px;
  padding-bottom: 8px;
}

/* ***** Start Learning ***** */

.start-learning {
  padding: 32px 72px;
  /* 72-17 */
}

.start-learning h1{
  text-align: center;
}

.course-section {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.course {
  display: flex;
  flex-direction: column;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.course-description {
  padding: 16px 0px 24px 16px;
}

.course-description p {
  margin: 8px auto;
}
