html {
  font-size: 18px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ***** Header ***** */

.header {
  display: flex;
  height: 32px;
  align-items: center;
  margin: 16px 24px;
  justify-content: space-between;
}

.logo-name {
  display: flex;
  align-items: center;
}

/* ***** Navigation ***** */

.header a {
  margin-left: 16px;
}

/* ***** Header and Main Banner ***** */

.left-content {
  width: 60%;
  padding: 32px 24px;
}

.right-content {
  width: 40%;
  padding: 32px 24px;
}

.left-content img {
  padding-right: 24px;
  width: 100%;
}

/* ***** Main Banner ***** */

.main-banner {
  display: flex;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-banner-content span {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: orange;
  text-align: center;
}

/* ***** Content ***** */

.content {
  display: flex;
}

.left-content p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.top-image img {
  padding-bottom: 32px;
}

.stories {
  display: flex;
  flex-direction: column;
}

.story {
  /* display: flex; */
}

.story-img {
  /* flex-basis: 35%;
  flex-grow: 0;
  flex-shrink: 0; */
  border: 1px solid yellow;
  display: inline;
}

.story-content {
  display: inline;
  width: 65%;
  border: 3px solid orange;
}

.story-img img {
  padding: 16px;
  /* width: 80%; */
  width: 35%;
  height: auto;
  border: 1px solid green;
}

.topstory img {
  padding-top: 0px;
}

.story-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-img-text p{
  padding-top: 8px;
  padding-bottom: 8px;
}

/* ***** Test ***** */

.content2 {
  display: flex;
}

.stories2 {

}

.story2 {
  display: flex;
  border: 1px solid red;
}

.story-img2 {
  /* flex-basis: 35%;
  flex-grow: 0;
  flex-shrink: 0; */
  width: 35%;
  border: 1px solid green;
}

.story-img2 img {
  width: 100%;
  /* padding: 16px; */
}

.topstory img {
  padding-top: 0px;
}

.story-img-text2 {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-img-text2 p {
  margin: 8px 0px;
}

/* ***** Start Learning ***** */

.start-learning h1{
  text-align: center;
}

.course-section {
  padding: 32px 72px;
  display: flex;
  flex-wrap: wrap;
}

.course {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.course-image img {
  width: 100%;
}

.course-description {
  padding: 16px 0px 24px 16px;
}

.course-description p {
  margin: 8px auto;
}

/* ***** Thesis ***** */

.thesis {
  display: flex;
}

.left-content video {
  width: 100%;
}

.top-video video {
  padding-bottom: 32px;
}

/* ***** Footer ***** */

.footer-section {
  display: flex;
  align-items: center;
  margin: 16px 24px;
  justify-content: space-between;
}

.copyright {
  display: flex;
  align-items: center;
}
